<html >
<head>
  <title>Heart Disease and house price Prediction</title>

</head>

<body>
<div class="login">
    <h1>Heart Disease Prediction</h1>
    <h2>keterangan:</h2>
    <h3>1 = Ya</h3>
    <h3>0 = Tidak</h3>
    <h3>isi kolom dibawah ini dengan 1 atau 0</h3>
    <h4>Chest Pain Type : ATA, NAP, TA</h4>
    <h4>Resting : Normal, ST</h4> 
    <h4>ST Slope : Flat, Up</h4>

    <!-- Main Input For Receiving Query to ML -->
    <form action="{{ url_for('predict')}}"method="post">
        <input type="text" step=any name="age" placeholder="Age" required="required" />
        <input type="text" step=any name="RestingBP" placeholder="RestingBP" required="required" />
        <input type="text" step=any name="Cholesterol" placeholder="Cholesterol" required="required" />
        <input type="text" step=any name="FastingBS" placeholder="FastingBS" required="required" />
        <input type="text" step=any name="MaxHR" placeholder="MaxHR" required="required" />
        <input type="text" step=any name="Oldpeak" placeholder="Oldpeak" required="required" />
        <input type="text" step=any name="Gender" placeholder="male=1/female=0" required="required" />
        <input type="text" step=any name="ChestPainType_ATA" placeholder="ATA" required="required" />
        <input type="text" step=any name="ChestPainType_NAP" placeholder="NAP" required="required" />
        <input type="text" step=any name="ChestPainType_TA" placeholder="TA" required="required" />
        <input type="text" step=any name="RestingECG_Normal" placeholder="Normal" required="required" />
        <input type="text" step=any name="RestingECG_ST" placeholder="ST" required="required" />
        <input type="text" step=any name="ExerciseAngina" placeholder="ExerciseAngina(Y=1/N=0)" required="required" />
        <input type="text" step=any name="ST_Slope_Flat" placeholder="Flat" required="required" />
        <input type="text" step=any name="ST_Slope_Up" placeholder="Up" required="required" />
        
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

    <h1>house price prediction</h1>
    <h2>keterangan :</h2>
    <h3>keterangan :</h3>
    <form action="{{ url_for('predict1')}}"method="post">
        <input type="text" name="GarageArea" placeholder="GarageArea" required="required" />
        <input type="text" name="OverallQual" placeholder="OverallQual" required="required" />
        <input type="text" name="GrLivArea" placeholder="GrLivArea" required="required" />
        
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
    <br>
    <br>
   {{ prediction1_text }}
 </div>


</body>
</html>
